<div class="hobby-form-div mt-5">
    <h3>Travel</h3>
<form action="http://portfolio:3000/user/<%=currentUser.id%>?_method=PUT" method="POST" class="row edit-profile-text">
<input type="text" name="travel[been_to]" placeholder="Where have you been?">
<input type="text" name="travel[going_to]" placeholder="Where are you going?">
<button>Add Travel History</button>
</form> 
</div>
