<div class="container create-habits-inputs row">
    <div class="row">
            <h6>Do you have any vices?</h6>
            <div class="row  row">
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="">Cigarettes?</span>
                    <input type="checkbox" class="form-check-input" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Yes">
                    <input type="checkbox" class="form-control" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Sometimes">
                    <input type="checkbox" class="form-control" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="No">
                  </div>
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="">Alcohol?</span>
                    <input type="checkbox" class="form-control" name="drinking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Yes">
                    <input type="checkbox" class="form-control" name="drinking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Sometimes">
                    <input type="checkbox" class="form-control" name="drinking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="No">
                  </div>
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="">Drugs?</span>
                    <input type="checkbox" class="form-control" name="drugs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Yes">
                    <input type="checkbox" class="form-control" name="drugs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Sometimes">
                    <input type="checkbox" class="form-control" name="drugs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="No">
                  </div>
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="">Cannibas?</span>
                    <input type="checkbox" class="form-control" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Yes">
                    <input type="checkbox" class="form-control" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Sometimes">
                    <input type="checkbox" class="form-control" name="smoking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="No">
                  </div>
                  </div>
                  
    </div>
</div>
