<div class="container row create-hobbies-inputs" hidden>
    <h6>What do you do for fun?</h6>
    <div class="row ">
        <div class=" mb-3 col row checkboxes-div">
            <div class="checkbox-divs">
                <h4>Exercise</h4>
                <label for="running">Running</label>
                <input type="checkbox" class="form-check-input mt-0" name="running" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="running" placeholder="1">
                <label for="running">Climbing</label>
                <input type="checkbox" class="form-check-input mt-0" name="climbing" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="climbing">
                <label for="running">Hiking</label>
                <input type="checkbox" class="form-check-input mt-0" name="hiking" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="hiking">
                <label for="running">Weightlifting</label>
                <input type="checkbox" class="form-check-input mt-0" name="Weightlifting" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Weightlifting">
                <label for="running">Sports</label>
                <input type="checkbox" class="form-check-input mt-0" name="sports" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="sports">
            </div>
            <div class="checkbox-divs">
                <h4>Music</h4>
                <h6>Do you play?</h6>
            <label for="guitar">Guitar</label>
            <input type="checkbox" class="form-check-input mt-0" name="guitar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="guitar">
            <label for="piano">Piano</label>
            <input type="checkbox" class="form-check-input mt-0" name="piano" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="piano">
            <label for="violin">Violin</label>
            <input type="checkbox" class="form-check-input mt-0" name="violin" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="violin">
            <label for="clarinet">Clarinet</label>
            <input type="checkbox" class="form-check-input mt-0" name="clarinet" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="clarinet">
            <label for="cello">Cello</label>
            <input type="checkbox" class="form-check-input mt-0" name="cello" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="cello">
            <label for="drums">Drums</label>
            <input type="checkbox" class="form-check-input mt-0" name="drums" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="drums">
               </div>
            <div class="checkbox-divs">
            <h6>What do you listen to?</h6>
                <label for="metal">Metal</label>
            <input type="checkbox" class="form-check-input mt-0" name="metal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="metal">
            <label for="rock">Rock</label>
            <input type="checkbox" class="form-check-input mt-0" name="rock" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="rock">
            <label for="edm">EDM</label>
            <input type="checkbox" class="form-check-input mt-0" name="edm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="edm">
            <label for="country">Country</label>
            <input type="checkbox" class="form-check-input mt-0" name="country" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="country">
            <label for="bluegrass">Bluegrass</label>
            <input type="checkbox" class="form-check-input mt-0" name="bluegrass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="bluegrass">
            <label for="techno">Techno</label>
            <input type="checkbox" class="form-check-input mt-0" name="techno" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="techno">
            <label for="pop">Pop</label>
            <input type="checkbox" class="form-check-input mt-0" name="pop" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="pop">
            <label for="rap">Rap</label>
            <input type="checkbox" class="form-check-input mt-0" name="rap" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="rap">
        </div>
        </div>
            <div class="checkbox-divs">
                <h4>Video Games</h4>
            <label for="action">Action</label>
            <input type="checkbox" class="form-check-input mt-0" name="action" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="action">
            <label for="shooters">Shooters</label>
            <input type="checkbox" class="form-check-input mt-0" name="shooters" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="shooters">
            <label for="adventure">Adventure</label>
            <input type="checkbox" class="form-check-input mt-0" name="adventure" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="adventure">
            <label for="arcade">Arcade</label>
            <input type="checkbox" class="form-check-input mt-0" name="arcade" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="arcade">
            <label for="mmo">MMO</label>
            <input type="checkbox" class="form-check-input mt-0" name="mmo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="MMO">
            <label for="rpg">RPG</label>
            <input type="checkbox" class="form-check-input mt-0" name="rpg" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="RPG">
            <label for="retro">Retro</label>
            <input type="checkbox" class="form-check-input mt-0" name="retro" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="Retro">
            <label for="retro">Favorite Game</label>
            <input type="text" class="form-check-input mt-0" name="retro" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="LoZ">
        </div>
            <div class="checkbox-divs">
                <h4>Music</h4>
            <label for="running">Guitar</label>
            <input type="checkbox" class="form-check-input mt-0" name="guitar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="guitar">
            <label for="running">Piano</label>
            <input type="checkbox" class="form-check-input mt-0" name="piano" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="piano">
            <label for="running">Violin</label>
            <input type="checkbox" class="form-check-input mt-0" name="violin" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="violin">
            <label for="running">Clarinet</label>
            <input type="checkbox" class="form-check-input mt-0" name="clarinet" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="clarinet">
            <label for="running">Cello</label>
            <input type="checkbox" class="form-check-input mt-0" name="cello" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="cello">
            <label for="running">Drums</label>
            <input type="checkbox" class="form-check-input mt-0" name="drums" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="drums">
        </div>
       
          </div>

</div>
</div>

