<div class="container row interested-btns-div col mt-3" hidden>
        <input type="radio" value="interested" name="interest" hidden id="interested_input">
        <button id="interestedBtn" class="btn btn-success" type="submit">Interested</button>
        <input type="radio" value="notinterested" name="interest" hidden id="notInterested_input">
        <button id="notInterestedBtn" class="btn btn-danger">Not Interested</button>
        <button class="btn btn-success rating-form-btn" type="submit" hidden></button>
</div>
