<div id="noLikes" class="mt-3 row text-center">
        <h6 class="mt-3">Time until you can match again..</h6>
    <div class="row" id="clock">
        <div id="hours" class="col time">0<%=timeFormat.hours%>:</div>
        <div id="mins" class="col time"><%=timeFormat.mins%>:</div>
        <div id="secs" class="col time"><%=timeFormat.secs%></div>
    </div>
    
</div>
