<div class="container row">

<div id="messages-display">

<ul id="messages"></ul>
<form id="chat-form" action="">
  <input id="chat-input" autocomplete="off" /><button id="chat-btn">Send</button>
</form>

</div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
</script>