<%-layout('./partials/boilerplate')%>
<form action="http://portfolio:3000/user/auth/login" method="POST">
<input type="text" placeholder="Username" name="username">
<input type="text" placeholder="Password" name="password">
<button>Log In</button>
</form>